body,
html {
  height: 100%;
  margin: 0;
}

strong {
  font-size: small;
  color: black;
}


ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
}

.container {
  text-align: center;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: '';
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.container .header {
  background-color: white;
  color: black;
  box-shadow: 0px 10px 10px -12px #111;
  z-index: 1;
}

.sidebar {
  background-color: crimson;
  grid-row: 1 / span 2;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #e2e8f0;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0;
}

.sidebar p {
  color: white;
  font-size: 18px;
  text-align: start;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	text-align: start;
}

.cards-heading > p {
  margin-left: 1rem;
}

.article {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.cards {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.cards > .card {
  background-color: white;
  border-radius: 15px;
  border-left: 5px solid black;
  font-weight: normal;
  padding: 45px 25px 45px 25px;
  box-shadow: 0px 10px 10px -12px #111;
}

.card p {
	font-size: 15px;
	color: #636363;
}

.card .title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.rightbar {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
 
}

.rightbar > .news-list {
  border-radius: 15px;
  background-color: white;
	border-radius: 15px;
	margin: 0 0 .3em;
  box-shadow: 0px 10px 10px -12px #111;
  padding: 1em;
}

.news-list > ul > li > p {
	font-size: small;
	font-weight: normal;
	color: #636363;
}

.news > p {
	margin-left: 1rem;
}

.trending {
	background-color: white;
	border-radius: 15px;
  box-shadow: 0px 10px 10px -12px #111;
}

.rightbar > .trend-title {
  margin: .9em .9em .9em 0
}

.trending > ul > li {
	margin: 32px 32px 32px 0;
}

.trending > ul > li > p {
	font-size: small;
	color: #636363;
}